.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--soft-color);
  padding-inline: 100px;
  position: sticky;
  inline-size: 100%;
}

.item_list {
  display: flex;
  list-style: none;
}

.link_list {
  gap: 40px;
  padding-block: 40px;
}

.header_link {
  text-decoration: none;
  color: var(--white-color);
  transition: font-weight 0.3s ease;
}

.header_link:hover {
  font-weight: var(--accent-weight);
}

.active_link {
  font-weight: var(--accent-weight);
}

.button_list {
  gap: 20px;
  padding-block: 25px;
}